body {
 background-color: lightgray;
}
.parent {
  padding: 7px;
  border: solid 2px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input {
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 4px;
  border: solid 1px gray;
  padding-left: 3px;
}
label {
  position: relative;
  bottom: 2px;
}
button {
 display: block;
 margin: auto;
 width: 50%;
}
button:hover {
  background-color: lightskyblue;
}